<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heroku Connect Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<!--<div style="margin-top: 20px;margin-left: 50px">-->
<div class="container">
<h2> Heroku Connect Spring Boot Demo : </h2>
<ul>
   <li class="style1"><a href="/contacts">Get Salesforce Contacts </a></li>

 <li class="style1"><a href="/csvfile">upload csv</a></li>

    <li class="style1"><a href="/createcontactform">Create a Salesforce Contact</a></li>
</ul>
</div>
</body>
</html>